<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@7.0.0/css/all.min.css" 
      media="print" onload="this.media='all'">

<noscript>
  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">
</noscript>


<link rel="preload" href="https://unpkg.com/@fortawesome/fontawesome-free@7.0.0/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://unpkg.com/@fortawesome/fontawesome-free@7.0.0/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://unpkg.com/@fortawesome/fontawesome-free@7.0.0/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>