<style>
  @font-face {
    font-family: 'FontAwesome';
    src: url('/lib/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'FontAwesome';
    src: url('/lib/@fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'FontAwesome';
    src: url('/lib/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2') format('woff2');
    font-display: swap;
  }
</style>
