// 这里的 991px 是 NexT 默认的平板与手机的分界线
@media (max-width: 991px) {
  .sidebar-toggle, .sidebar {
    display: none !important;
  }
  .back-to-top {
    display: none !important;
  }
}

.img-custom {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 47, 167, 0.2);
}