/* 定义 Inter 可变字体 */
@font-face {
  font-family: 'Inter Variable';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap; /* 确保文字在加载时不会消失 */
  font-style: normal;
}

/* 全局应用字体 */
body, .post-body, .menu-item {
  font-family: 'Inter Variable', "PingFang SC", "Microsoft YaHei", sans-serif;
}

/* 针对标题微调 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter Variable', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-weight: 700; /* 自动调用可变字体的 700 字重 */
}

.site-brand-container {
  background: #002FA7;
}


@media (max-width: 990px) {
  .sidebar-toggle, .sidebar {
    display: none;
  }
  .back-to-top {
    display: none;
  }
}

.img-custom {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 47, 167, 0.2);
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
  /* 针对移动端适配：如果屏幕小于 600px，则宽度为 100% */
  max-width: 100%;
}

.search-keyword {
  color: #e3143b;
  background: transparent;
  font-weight: bold;
  border-bottom: 1px solid #e3143b;
}
