body {
    background: #FFF;
}

.site-brand-container {
    background: #002FA7;
}


@media (max-width: 990px) {
  .sidebar-toggle, .sidebar {
    display: none;
  }
  .back-to-top {
    display: none;
  }
}

.img-custom {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 47, 167, 0.2);
}

.search-keyword {
  color: #e3143b;
  background: transparent;
  font-weight: bold;
  border-bottom: 1px solid #e3143b;
}
